#transaction-calendar {
    width: 72%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    #from-calendar, #to-calendar {
        width: 100%;
        height: 50%;
    }
    p {
        height: 9%;
        padding-left: 2%;
        margin: 0;
        font-weight: bold;
        color: white;
    }
    #select-from, #select-to {
        width: 100%;
        height: 90%;
    }
    .flatpickr-input {
        display: none;
    }
}
