#transaction-chart {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  #chart-setting {
    width: calc(100% - 10px * 2);
    height: 40px;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;

    #setting-input {
      width: 50%;
      height: 100%;
      display: flex;
      justify-content: left;
      align-items: center;

      #set-period {
        display: flex;
        align-items: center;
        margin-right: 20px;
        
        /* .label */
        #period-select {
          width: 180px;
          height: 25px;
          background: #0b1a2d;
          border: 1px solid #0e4260;
          border-radius: 2px;
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          color: #2a90cb;
          font-size: 13px;
        }
      }
      #set-transaction {
        display: flex;
        align-items: center;
        margin-right: 20px;

        /* .label */
        select {
          height: 25px;
          padding-left: 8px;
          background: #171a1e;
          border: 1px solid #555555;
          border-radius: 2px;
          color: #b9b9b9;
          font-size: 13px;
        }
      }
      #set-button {
        display: flex;
        align-items: center;

        button {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 26px;
          height: 26px;
          padding: 0;
          border: 1px solid #18754d;
          border-radius: 3px;
          background: #34f2a1;
          cursor: pointer;

          img {
            width: 98%;
            height: 99%;
          }
        }
      }

      .label {
        color: #ffffff;
        margin-right: 8px;
        font-size: 13px;
      }
    }
    #result-num {
      display: flex;
      align-items: center;

      span {
        font-size: 13px;
        color: #ffffff;
      }
    }
  }
  #chart-result {
    width: 100%;
    height: calc(100% - 40px);
    display: flex;
    justify-content: center;

    #chart-svg {
      width: calc(100% - 10px * 2);
      height: 100%;
      background: #000000;
    }
  }
}