$w: 100vw;
$h: calc(100vh - 60px);
@mixin setFlexDisplay($d, $ai, $jc) {
  display: $d;
  align-items: $ai;
  justify-content: $jc;
}

#transaction {
  display: flex;
  width: $w;
  height: $h;
  background: #151516;
  overflow: hidden;

  #calendar-sector {
    width: $w * 0.3;
    height: $h;
    @include setFlexDisplay(flex, center, right);
  }
  #table-sector {
    width: $w * 0.7;
    height: $h;
    @include setFlexDisplay(flex, center, center);
  }
}
