#header-lower {
  $animationSpeed: 200s;
  @keyframes slide {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(-8517.550px / 2))}
  }

  height: 20px;
  background: #000000;
  border-bottom: 1px solid #232323;
  overflow: hidden;

  #global-indexes {
    display: flex;
    animation: slide $animationSpeed linear infinite;
		display: flex;

    .g_idx {
      height: 20px;
      margin: 0px 14px;
      display: flex;

      .idx_name {
        display: flex;
        justify-content: left;
        align-items: center;
        margin-right: 14px;
        height: 100%;
        
        p {
          height: 150%;
          margin: 0;
          display: flex;
          align-items: center;

          span {
            height: 80%;
            color: white;
            font-weight: bold;
            font-size: 16px;

            &:not(:last-child){
              margin-right: 6px;
            }
          }
        }
      }
      .idx_value {
        height: 100%;
        color: white;
        display: flex;
        align-items: center;

        p {
          height: 120%;
          margin: 0 4px 0 0;

          &.value {
            span { 
              font-size: 14px;
              font-weight: bold;
            }
          }
          &.change {
            display: flex;
            align-items: center;

            span { 
              font-size: 9px;
              margin-right: 6.7px;
            }
          }
        }
      }

      .zero {
        color: white;
        &:nth-child(2)::before { content: "+/-"; }
        &:nth-child(2)::after  { content: "%";   }
      }
      .plus {
        color: green;
        &:nth-child(1)::before { content: "▲"; }
        &:nth-child(2)::before { content: "+"; }
        &:nth-child(2)::after  { content: "%"; }
      }
      .minus { 
        color: red;
        &:nth-child(1)::before { content: "▼"; }
        &:nth-child(2)::after  { content: "%"; }
      }
    }
  }
}
