#header-left {
  width: calc(100% / 3);
  height: 100%;
  overflow: hidden;

  #global-indexes {
    height: calc(40px * 10);
    width: 300px;
    padding-left: 22px;

    .g_idx {
      height: 40px;
      display: flex;

      .idx_name {
        display: flex;
        justify-content: left;
        align-items: center;
        width: 56%;
        height: 100%;
        color: white;
        font-weight: bold;
        font-size: 1.3vw;
      }
      .idx_value {
        width: 44%;
        height: 100%;
        color: white;
        font-weight: bold;

        p {
          margin: 0;

          &:first-child {
            span { font-size: 1.1vw; }
          }
          &:last-child {
            span { 
              font-size: 0.8vw;
              margin-right: 0.4vw;
            }
          }
        }
      }

      .plus {
        color: green;
        &:nth-child(1)::before { content: "▲"; }
        &:nth-child(2)::before { content: "+"; }
        &:nth-child(2)::after  { content: "%"; }
      }
      .minus { 
        color: red;
        &:nth-child(1)::before { content: "▼"; }
        &:nth-child(2)::after  { content: "%"; }
      }
    }
  }
}
