#header-left {
  width: calc(100% / 3);
  height: 100%;
  overflow: hidden;

  #global-indexes {
    width: 300px;
    padding-left: 22px;
    background: #000000;
    border: 1px solid #232323;
    overflow: hidden;

    .g_idx {
      height: 40px;
      display: flex;

      .idx_name {
        display: flex;
        justify-content: left;
        align-items: center;
        width: 56%;
        height: 100%;
        
        p {
          height: 100%;
          margin: 0;
          display: flex;
          align-items: center;

          span {
            height: 80%;
            color: white;
            font-weight: bold;
            font-size: 21.8px;
          }
        }
      }
      .idx_value {
        width: 44%;
        height: 100%;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;

        p {
          height: 50%;
          margin: 0;

          &.value {
            span { 
              font-size: 18.5px;
              font-weight: bold;
            }
          }
          &.change {
            display: flex;

            span { 
              font-size: 13px;
              margin-right: 6.7px;
            }
          }
        }
      }

      .zero {
        color: white;
        &:nth-child(2)::before { content: "+/-"; }
        &:nth-child(2)::after  { content: "%";   }
      }
      .plus {
        color: green;
        &:nth-child(1)::before { content: "▲"; }
        &:nth-child(2)::before { content: "+"; }
        &:nth-child(2)::after  { content: "%"; }
      }
      .minus { 
        color: red;
        &:nth-child(1)::before { content: "▼"; }
        &:nth-child(2)::after  { content: "%"; }
      }
    }
  }
}
