$H: 28px;
@mixin setFlex ($ai, $jc) {
  display: flex;
  align-items: $ai;
  justify-content: $jc;
}

#page-element {
  z-index: 2;
  width: 134px;
  height: $H;
  margin: 9.5px 10px 0 0;
  background: #000000;
  font-size: 14px;

  #selected-page {
    @include setFlex(center, space-between);
    height: $H;
    border: 1px solid #0d431c;

    span {
      color: #e2e2e2;
      padding: 0 0 3px 6px;
    }

    #dropdown-img {
      height: 50%;
      margin-right: 8px;
      transition: transform 0.3s ease;

      &.rotated {
        transform: rotate(-180deg); /* Counterclockwise rotation */
      }
    }
  }
  #option-pages {
    margin-top: 4px;
    background: #000000;
    border: 1px solid #0d431c;

    .option-page {
      @include setFlex(center, left);
      height: $H;
      
      &:hover {
        background-color: #2c2c2c;
      }

      span {
        color: #ffffff76;
        padding: 0 0 3px 6px;
      }
    }
  }
}
