$W: 340px;
$H: 28px;
@mixin setFlex ($ai, $jc) {
  display: flex;
  align-items: $ai;
  justify-content: $jc;
}

#search-element {
  @include setFlex(center, right);
  width: $W;
  height: $H - 1px;
  padding-top: 1px;
  margin-right: 5px;
  
  #search-cont {
    @include setFlex(center, left);
    width: $H;
    height: $H;  
    border: 1px solid #232323;
    border-radius: $H;
    background: #000000;
    overflow: hidden;
    transition: box-shadow 0.34s ease;
    
    &.open {
      width: $W;
    }
    &:not(.open) {
      width: $H;
      transition: width 0.9s ease;

      &:hover {
        box-shadow: 0 0 5px #f5f5f5;
      }
    }
  
    #search-img {
      height: 66%;
      margin: 0 8px 0 5px;
      
      &.open {
        margin: 0 8px 0 6px;
      }
    }
  
    #search-input {
      width: 280px;
      height: $H - 2px;
      margin-left: 2px;
      background: #000000;
      border: none;
      color: #e2e2e2;
      
      &:focus {
        outline: none;
      }
      &::placeholder {
        color: #ffffff76;
      }
    }
  }
  
  label {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}




#suggestion {
  z-index: 3;
  position: relative;
  display: block;
  width: 300px;
  max-height: 220px;
  margin: 0;
  padding: 0;
  background: #0a0a0a;
  border: 1px solid gray;
  border-top: none;
  top: 1px;
  list-style-type: none;
  overflow-y: scroll;
  &::-webkit-scrollbar-track {
    background-color: black;
  }
  &::-webkit-scrollbar {
    background-color: black;
    width: 8px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 30px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #333;
  }
}
.list {
  padding: 0 1.8%;
  margin: 0.8% 0.5% 0.8% 0%;
  color: white;

  &:hover {
    background: #a9a9a938;
    text-decoration: underline;
    cursor: pointer;
  }
  p {
    margin: 0;

    &:nth-child(1){
      font-size: 16px;
      font-weight: 600;
    }
    &:nth-child(2){
      font-size: 12px;
    }
  }
}
