$W: 320px;
$H: 28px;
@mixin setFlex ($ai, $jc) {
  display: flex;
  align-items: $ai;
  justify-content: $jc;
}

#search-element {
  flex-direction: column;
  @include setFlex(flex-end, right);
  width: $W;
  height: 240px;
  padding-top: 1px;
  margin: 9.5px 5px 0 0;
  
  #search-cont {
    @include setFlex(center, left);
    width: $H;
    height: $H; 
    border: 1px solid #232323;
    border-radius: $H;
    background: #000000;
    overflow: hidden;
    
    &.open {
      width: $W;
      margin-right: $W - ( $H + 2px );
      transform: translateX($W - $H);
      transition: margin-right 0.9s ease, width 0.7s ease 1.1s, transform 0.7s ease 1.1s;
    }    
    &:not(.open) {
      width: $H;
      transition: box-shadow 0.34s ease, width 0.9s ease;

      &:hover {
        box-shadow: 0 0 5px #f5f5f5;
      }
    }
  
    #search-img {
      height: 66%;
      margin: 0 8px 0 5px;
      
      &.open {
        margin: 0 8px 0 6px;
      }
    }
  
    #search-input {
      width: 260px;
      height: $H - 2px;
      margin-left: 2px;
      background: #000000;
      border: none;
      color: #e2e2e2;
      
      &:focus {
        outline: none;
      }
      &::placeholder {
        color: #ffffff76;
      }
    }
  }
  
  #suggest-cont {
    width: $W - ( 14px + 28px + 2px );
    max-height: 200px;
    margin: 4px 14px 0 28px;
    z-index: 2;

    #suggestion {
      width: 100%;
      height: 100%;
      padding: 0;
      margin: 0;
      background: #000000;
      border: 1px solid #232323;
      border-radius: 0 0 5px 5px;
      list-style-type: none;
      overflow-x: hidden;
      overflow-y: auto;

      &::-webkit-scrollbar {
        width: 8px;
      }
      &::-webkit-scrollbar-track {
        background-color: #000000;
        border-radius: 0 0 10px 10px;
      }
      &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: #333;
      }
    
      .in-suggestion {
        padding: 1.25px 0 4.75px 5px;
        margin-right: 2px;
        color: #e2e2e2;

        &:hover {
          background: #2c2c2c;
          color: #ffffff;
          cursor: pointer;
        }

        p {
          margin: 0;
      
          &:nth-child(1){
            font-size: 14px;
            font-weight: 600;
          }
          &:nth-child(2){
            font-size: 10px;
          }
        }
      }
    }
  }  
}
