#component-expense-chart {
  width: calc(100% - 8px * 2);
  height: calc(100% - 4px * 2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  #chart-header {
    width: calc(100% - 10px * 2);
    height: 40px;
    display: flex;
    justify-content: space-between;

    #chart-setting {
      width: 50%;
      height: 100%;
      display: flex;
      justify-content: left;
      align-items: center;

      #set-period {
        display: flex;
        align-items: center;
        justify-content: left;
        margin-right: 20px;
        width: 228px;
        
        /* .label */
        .label { 
          width: 38px;
          font-family: Tahoma;
        }
      }
      #set-transaction {
        display: flex;
        align-items: center;
        margin-right: 20px;

        .label { 
          font-family: Tahoma;
        }
        select {
          height: 25px;
          padding-left: 8px;
          background: #171a1e;
          border: 1px solid #555555;
          border-radius: 2px;
          color: #b9b9b9;
          font-family: Tahoma;
          font-size: 13px;
        }
      }
      #set-button {
        display: flex;
        align-items: center;

        button {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 26px;
          height: 26px;
          padding: 0;
          border: 1px solid #18754d;
          border-radius: 3px;
          background: #34f2a1;
          cursor: pointer;

          img {
            width: 98%;
            height: 99%;
          }
        }
      }

      .label {
        color: #ffffff;
        margin-right: 8px;
        font-size: 13px;
      }
    }
    #result-num {
      display: flex;
      align-items: center;

      span {
        font-size: 13px;
        font-family: Tahoma;
        color: #ffffff;
      }
    }
  }
  #chart-result {
    width: 100%;
    height: calc(100% - 40px);
    display: flex;
    justify-content: center;

    #chart-svg {
      width: calc(100% - 10px * 2);
      height: 100%;
      background: #000000;
    }
  }
}