@mixin setFlex($ai, $jc) {
  display: flex;
  align-items: $ai;
  justify-content: $jc;
}

#component-expense-chart { 
  width: calc(100% - 8px * 2); 
  height: calc(100% - 4px * 2);
  flex-direction: column;
  font-family: Tahoma;
  @include setFlex(center, center);

  #chart-header {
    width: calc(100% - 10px * 2);
    height: 40px;
    display: flex;
    justify-content: space-between;

    #chart-setting {
      width: 60%;
      height: 100%;
      @include setFlex(center, left);

      #set-period {
        margin-right: 20px;
        @include setFlex(center, left);
        
        .label { 
          width: 38px;
        }

        #select-period {
          height: 25px;
          padding: 1px 0;
          border: 1px solid #0b3851;
          border-radius: 2px;
          color: #b9b9b9;
          @include setFlex(center, space-evenly);
          
          #date-from, #date-to {
            display: flex;
            justify-content: center;
            align-items: center;

            select {
              background: #171a1e;
              border: 1px solid #555555;
              color: #b9b9b9;
              font-size: 12px;

              &:first-child {
                margin-left: 8px;
              }
              &:last-child {
                margin-right: 8px;
              }
              &:focus {
                outline: none;
              }
            }
          }
        }
      }
      #set-transaction {
        display: flex;
        align-items: center;
        margin-right: 20px;

        select {
          height: 25px;
          padding-left: 8px;
          background: #171a1e;
          border: 1px solid #555555;
          border-radius: 2px;
          color: #b9b9b9;
          font-size: 13px;

          &:focus {
            outline: none;
          }
        }
      }
      #set-button {
        display: flex;
        align-items: center;

        button {
          width: 26px;
          height: 26px;
          padding: 0;
          border: 1px solid #18754d;
          border-radius: 3px;
          background: #34f2a1;
          cursor: pointer;
          @include setFlex(center, center);

          img {
            width: 98%;
            height: 99%;
          }
        }
      }

      .label {
        color: #ffffff;
        margin-right: 8px;
        font-size: 13px;
      }
    }
    #result-number {
      width: 40%;
      height: 100%;
      @include setFlex(center, right);

      span {
        font-size: 13px;
        color: #ffffff;
      }
    }
  }
  #chart-result {
    width: 100%;
    height: calc(100% - 40px);
    display: flex;
    justify-content: center;

    #chart-svg {
      width: calc(100% - 10px * 2);
      height: 100%;
      background: #000000;
    }
  }
}
