@mixin setFlex($ai, $jc) {
  display: flex;
  align-items: $ai;
  justify-content: $jc;
}

#component-expense-table {
  width: calc(50% - 4px * 2);
  height: calc(100% - 4px * 2);
  font-family: Tahoma;
  flex-direction: column;
  @include setFlex(center, center);

  #table-info {
    width: calc(100% - 10px * 2);
    height: 40px;
    padding: 0 10px;
    margin-top: 2px;
    @include setFlex(center, space-between);

    #tbl-period {
      display: flex;
      align-items: flex-end;
      margin-right: 20px;
      
      #period-result {
        input {
          width: 160px;
          height: 20px;
          background: #121212;
          border-radius: 2px;
          border: 1px solid #555555;
          text-align: center;
          color: #b9b9b9;
          
          &:focus {
            outline: none;
          }
        }
      }
    }
    #tbl-result {
      display: flex;
      align-items: flex-end;
      
      #expense-result {
        display: flex;
        align-items: flex-end;

        input {
          width: 120px;
          height: 20px;
          padding-right: 8px;
          background: #121212;
          border: 1px solid #555555;
          border-radius: 2px;
          text-align: right;
          color: #b9b9b9;

          &:focus {
            outline: none;
          }
        }
      }
    }

    .label {
      color: #ffffff;
      margin-right: 8px;
      font-size: 13px;
    }
  }

  #table-result {
    width: 100%;
    height: calc(100% - 40px);
    display: flex;
    justify-content: center;

    #table-canvas {
      width: calc(100% - 10px * 2);
      height: 96%;
      background: #000000;
    }
  }
}
