#component-calendar {
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  border: 1px solid #333333;
  display: flex;

  /* 좌측 캘린더 */
  .flatpickr-input {
    display: none !important;
  }
  ::v-deep(.flatpickr-calendar) {
    height: auto;
    background-color: #111111 !important;
    color: #ebebeb;
    border: none;
    border-radius: 0px;
    top: 0;
    bottom: 0;
    box-shadow: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    &.arrowTop:before,
    &.arrowTop:after {
      content: none;
      border: none;
      bottom: 0%;
    }

    .flatpickr-months {
      .flatpickr-prev-month,
      .flatpickr-next-month {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 10px;

        svg {
          fill: #ebebeb;
        }
      }
      .flatpickr-month {
        .flatpickr-current-month {
          padding: 0;

          .flatpickr-monthDropdown-months {
            background: #eaeaea;
            font-family: Tahoma;
          }
        }
        .numInputWrapper {
          font-family: Tahoma;
          color: #ebebeb;
          
          span {
            &:hover {
              background: none;
            }
            &.arrowUp::after {
              border-bottom-color: #ebebeb;
            }
            &.arrowDown::after {
              border-top-color: #ebebeb;
            }
          }
        }
      }
    }
    .flatpickr-innerContainer {
      .flatpickr-rContainer {
        .flatpickr-weekdays {
          .flatpickr-weekdaycontainer {
            .flatpickr-weekday {
              font-family: Tahoma;
              color: #ebebeb;
            }
          }
        }
        .flatpickr-days {
          .dayContainer {
            .flatpickr-day {
              font-family: Tahoma;
              color: #aaaaaa;
              &:nth-child(n+36) { /* Media Query 필요! */
                display: none !important;
              }
              &:hover {
                color: #111111;
              }
              &.selected {
                background: #e6e6e6;
                border: 1px solid #e6e6e6;
                color: #111111;
              }

              &.today:hover {
                background: #e6e6e6;
                border: 1px solid #e6e6e6;
                color: #111111;
              }
              &.nextMonthDay, 
              &.prevMonthDay {
                color: #1f1f1f;
              }
            }
          }
        }
      }
    }
  }
  /* 우측 리스트 */
  #list-dividend-payment {
    width: calc(40% - 1px);
    height: 100%;
    background: #181818;
    border-left: 1px solid #333;
    font-family: Tahoma;

    &:hover {
      cursor: default;
    }

    #dividend-title {
      width: 100%;
      height: 38px;
      display: flex;
      justify-content: center;
      align-items: center;

      p {  
        font-size: 18px;
        color: #ebebeb;
        text-align: center;
        margin: 0;
      }
    }
    #dividend-list {
      width: calc(100% - 3px);
      height: calc(100% - 38px);
      padding: 0;
      margin: 0 3px 0 0;
      overflow-x: hidden;
      overflow-y: auto;

      &::-webkit-scrollbar {
        width: 7px;
      }
      &::-webkit-scrollbar-track {
        background-color: #181818;
        border-radius: 0 0 10px 10px;
      }
      &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: #333;
      }

      li {
        list-style-type: none;

        p {
          color: #aaaaaa; 
          font-size: 15px;
          text-align: left;
          padding: 0 0 0 12px;
          margin: 10px 0px 16px;

          &:hover {
            color: #ffffff;
            font-weight: 500;
          }
        }
      }
    }
  }
}
