#component-chart {
  display: flex;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  border: 1px solid #333333;

  #watch-list-stock {
    width: 16%;
    height: 100%;
    background: #181818;
  }
  #tradingview-widget-stock {
    width: 84%;
    height: 100%;
  }
}
