#component-fx-rate {
  display: flex;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  border: 1px solid #333333;

  #watch-list-fxrate {
    width: 16%;
    height: 100%;
    background: #181818;

    &:hover {
      cursor: default;
    }

    #fx-title {
      width: 100%;
      height: 38px;
      display: flex;
      justify-content: center;
      align-items: center;

      p {  
        font-size: 18px;
        color: #ebebeb;
        text-align: center;
        margin: 0;
      }
    }
    #fx-list {
      width: calc(100% - 3px);
      height: calc(100% - 38px);
      padding: 0;
      margin: 0 3px 0 0;
      overflow-x: hidden;
      overflow-y: auto;

      &::-webkit-scrollbar {
        width: 7px;
      }
      &::-webkit-scrollbar-track {
        background-color: #181818;
        border-radius: 0 0 10px 10px;
      }
      &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: #333;
      }

      li {
        list-style-type: none;

        p {
          color: #aaaaaa; 
          font-size: 15px;
          text-align: center;
          margin: 10px 0px 16px;

          &:hover {
            color: #ffffff;
            font-weight: 500;
          }
        }
      }
    }
  }
  #tradingview-widget-fxrate {
    width: 84%;
    height: 100%;
  }
}
