@mixin setFlex($ai, $jc) {
  display: flex;
  align-items: $ai;
  justify-content: $jc;
}

#component-expense-detail-chart {
  width: 50%;
  height: 100%;
  @include setFlex(start, end);
  
  #detail-chart-canvas {
    width: calc(100% - 5px - 6px);
    height: 96%;
    margin-right: 6px;
    background: #000000;
    @include setFlex(center, space-evenly);

    #frequency-chart-svg {
      width: calc(50% - 4px * 2);
      height: calc(100% - 6px * 2);
    }
    #amount-chart-svg {
      width: calc(50% - 4px * 2);
      height: calc(100% - 6px * 2);
    }
  }
}
  