#chart{
  display: flex;
  
  #chart-main {
    display: grid;
    grid-template-rows: repeat(10, 10%);
    grid-template-columns: repeat(5, 20%);
    width: calc(100vw - (46px + 1px) - (20px));
    height: calc(100vh - (40px + 1px));
    gap: 0;
    grid-template-areas:
      "a a a a b"
      "a a a a b"
      "a a a a b"
      "a a a a b"
      "a a a a b"
      "a a a a b"
      "a a a a b"
      "a a a a b"
      "a a a a c"
      "a a a a c";
    background: black;
    overflow: hidden;
  
    #candle-chart   { grid-area: a; }
    #trade-history  { grid-area: b; }
    #asset-note     { grid-area: c; }
  }
  
  #chart-sub {
    width: 20px;
    height: calc(100vh - 40px);
    position: absolute;
    right: 0px;
  }
}
