$w: 100vw;
$h: 92vh;

#financial-statements {
  width: $w;
  height: $h;
  display: flex;
  background: black;
  overflow: hidden;
  
  .statements {
    width: $w * .5;
    height: $h;

    &:first-child {
      border-right: 1px solid gray;
    }
  }
}
