#main-home {
  width: 100%;
  height: calc(100vh - ( 49px + 1px ));
  background: #111111;
  overflow: hidden;

  display: grid;
  grid-template-rows: repeat(10, 10%);
  grid-template-columns: repeat(10, 10%);
  gap: 0;
  grid-template-areas:
    "a a a a a a a b b b"
    "a a a a a a a b b b"
    "a a a a a a a b b b"
    "a a a a a a a b b b"
    "a a a a a a a b b b"
    "c c c c c c c d d d"
    "c c c c c c c d d d"
    "c c c c c c c d d d"
    "c c c c c c c e e e"
    "c c c c c c c e e e";

  .home-components {
    display: flex;
    align-items: center;
    justify-content: center;

    &#home-chart {
      grid-area: a;
    }
    &#home-portfolio {
      grid-area: b;
    }
    &#home-fx-rate {
      grid-area: c;
    }
    &#home-calendar {
      grid-area: d;
    }
    &#home-base-rate {
      grid-area: e;
    }
  }
}
