@mixin setWidthHeight($W, $H) {
  width: $W;
  height: $H;
}

#new-portfolio {
  @include setWidthHeight(100%, 98%);
  display: flex;

  #included-assets {
    @include setWidthHeight(70%, 100%);
    padding-bottom: 0.05%;
    border: 1px solid gray;
    color: white;
  
    #included-assets-thead {
      @include setWidthHeight(100%, 6%);
      background: rgba(0, 0, 0, 0.4);
      border-bottom: 1px solid gray;
    }
    #included-assets-tbody {
      @include setWidthHeight(100%, 94%);
      background: rgba(0, 0, 0, 0.4);
      overflow-y: scroll;
    }

    table {
      width: 100%;
      border-collapse: collapse;
    
      th {
        text-align: center;
        vertical-align: middle;
        &:nth-child(1) { width: 10%; border-right: 1px solid gray; }
        &:nth-child(2) { width: 40%; border-right: 1px solid gray; }
        &:nth-child(3) { width: 20%; border-right: 1px solid gray; }
        &:nth-child(4) { width: 20%; border-right: 1px solid gray; }
        &:nth-child(5) { width: 10%; }
      }
    
      td {
        text-align: center;
        vertical-align: middle;
        border-bottom: 1px solid gray;
        &:nth-child(1) { width: 10%; border-right: 1px solid gray; }
        &:nth-child(2) { width: 40%; border-right: 1px solid gray; }
        &:nth-child(3) { width: 20%; border-right: 1px solid gray; }
        &:nth-child(4) { width: 20%; border-right: 1px solid gray; }
        &:nth-child(5) { width: 8.5%; border-right: 1px solid gray; }

        input {
          @include setWidthHeight(80%, 90%);
          background: rgba(0, 0, 0, 0.9);
          border: none;
          text-align: right;
          color: white;
        }
        button {
          background: rgba(0, 0, 0, 0.9);
          color: white;
        }
      }    
    }
  }
  #find-assets {
    @include setWidthHeight(30%, 100%);
    display: flex;
    align-items: center;
    flex-direction: column;

    #find-assets-search {
      @include setWidthHeight(100%, 90%);
      display: flex;
      align-items: center;
      flex-direction: column;

      input {
        @include setWidthHeight(80%, calc(100% * 0.06));
        border: 1px solid gray;
        background: rgba(0, 0, 0, 0.7);
        color: white;
        &:first-child { margin-bottom: 2%; }
      }
      #find-assets-suggest {
        width: 80%;
        max-height: 82%;
        list-style: none;
        padding: 0 2px;
        margin: 0;
        border: 1px solid gray;
        border-top: none;
        color: white;
        overflow-y: scroll;

        li {
          padding: 0.5% 0%;
          margin: 1% 0%;
          vertical-align: center;
          &:hover { background: rgba(0, 0, 0, 0.8); }

          p {
            &:first-child { margin: 0; font-weight: bold; }
            &:last-child { margin: 0; font-size: 14px; }
          }
        }
      }
    }
    #find-assets-btns {
      @include setWidthHeight(80%, 10%);
      padding: 0% 10%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      
      button {
        @include setWidthHeight(40%, 80%);
        background: rgba(0, 0, 0, 0.9);
        border: 1px solid gray;
        color: white;
        &:hover {
          cursor: pointer;
          border: 1px solid white;
        }
      }
    }
  }
}
