@mixin setWidthHeight($W, $H) {
    width: $W;
    height: $H;
}
@mixin setFlexDisplay($d, $ai, $jc) {
    display: $d;
    align-items: $ai;
    justify-content: $jc;
}

#sub-portfolio {
  @include setWidthHeight(80%, 80%);
  display: flex;

  #sub-portfolio-charts {
    @include setWidthHeight(96%, 100%);
    border: 0.5px solid gray;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    overflow-y: scroll;
    overflow-x: hidden;

    .sub-donuts {
      @include setWidthHeight(33.1%, 49.99%);
      border: 0.5px solid gray;
      color: white;        
      &:hover {
        border: 1px solid white;
        cursor: pointer;
      }

      .sub-donuts-title {
        @include setWidthHeight(100%, 10%);
        display: flex;
        justify-content: center;
        color: white;

        input[type="checkbox"] {
          width: 8%;
          margin: 0% 1%;
        }

        div {
          width: 80%;
          padding: 0;
          background: black;
          border: none;
          color: white;
          font-weight: bold;
          text-align: center;
        }
      }

      .sub-donuts-chart {
        @include setWidthHeight(100%, 90%);
      }
    }
  }

  #sub-portfolio-btns {
    @include setWidthHeight(4%, 100%);
    display: flex;
    justify-content: flex-end;
    flex-direction: column;

    #btn-set {
      @include setWidthHeight(100%, 11%);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      button {
        @include setWidthHeight(1.6vw, 1.6vw);
        background: none;
        border: 1px solid gray;
        color: gray;
        font-size: 20px;
        &:hover { cursor: pointer; }
      }
    }
  }
}
