#portfolios { 
  display: flex;
  
  #portfolio-main {
    width: calc(100vw - 46px - 0px);
    height: calc(100vh - (60px + 1px));
    background: #151516;
  }
  #portfolios-sub {
    width: 0px;
    height: calc(100vh - 40px);
    position: absolute;
    right: 0px;
  }
}
