$w: 100vw;
$h: calc(100vh - 60px);
@mixin setWidthHeight($W, $H) {
  width: $W;
  height: $H;
}
@mixin setFlexDisplay($d, $ai, $jc) {
  display: $d;
  align-items: $ai;
  justify-content: $jc;
}

#portfolios {
  @include setWidthHeight($w, $h);
  display: flex;
  overflow: hidden;
  background: #151516;
  
  #main-portfolio-sector {
    @include setWidthHeight($w * 0.38, $h);
    @include setFlexDisplay(flex, center, right);
  }
  #sub-portfolio-sector {
    @include setWidthHeight($w * 0.62, $h);
    @include setFlexDisplay(flex, center, center);
  }
}
